/* | HERO SECTION [START] */
.hero .left * {
    transform: translateY(60px);
    opacity: 0;
    transition: 
        transform 0.6s ease-in-out,
        opacity 0.6s;
}

.hero.visible .left * {
    transform: translateY(0);
    opacity: 1;
}

.hero .h1 {transition-delay: 0ms;}
.hero .h3 {transition-delay: 100ms;}
.hero .link {transition-delay: 200ms;}
/* | HERO SECTION [END] */

/* | TOOLS SECTION [START] */
.tools .tool {
    transform: translateY(60px);
    opacity: 0;
    transition: 
        transform 0.6s ease-in-out,
        opacity 0.6s;
}

.tools.visible .tool {
    transform: translateY(0);
    opacity: 1;
}

.tools .tool:nth-child(1) {transition-delay: 0ms;}
.tools .tool:nth-child(2) {transition-delay: 100ms;}
.tools .tool:nth-child(3) {transition-delay: 200ms;}
/* | TOOLS SECTION [END] */