/* & ROTATE ANIMATION */
@keyframes Rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(720deg);}
}

/* & FLICKER ANIMATION */
@keyframes Flicker {
    0%, 50% {opacity: 0;}
    25%, 100% {opacity: 1;}
}

/* * ROTATE CLASS */
.rotate {animation: Rotate 2s ease infinite;}

/* * FLICKER CLASS */
.flicker {animation: Flicker 1.5s ease infinite;}

.flicker:nth-child(1) {animation-delay: 0ms;}
.flicker:nth-child(2) {animation-delay: 100ms;}
.flicker:nth-child(3) {animation-delay: 200ms;}