/* | HERO SECTION [START] */
.hero .left,
.hero .right {
    width: 50%;
}

.h1 p {
    font-size: 4rem;
    font-family: "Roboto Condensed", sans-serif;
}

.hero .btn {width: fit-content;}
/* | HERO SECTION [END] */

/* | TOOLS SECTION [START] */
.tools .grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.tools .tool {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-border-light);
}
/* | TOOLS SECTION [END] */

/* | STRIP SECTION [START] */
.strip {
    background-color: var(--color-bg-card);
    text-align: center;
}

.strip .para {
    font-size: var(--f2);
    font-style: italic;
}